.user-component {
  justify-content: space-between;
}
.user-component,
.user-component__column:first-child {
  display: flex;
  margin-top: 8px;
  align-items: center;
}
.user-component__avatar {
  width: 50px;
  height: 50px;
  border-radius: 23px;
  margin-right: 20px;
}
.user-component__title {
  font-weight: 600;
  font-size: 20px;
}
.user-component__subtitle {
  margin-top: 8px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.user-component__avatar--xl {
  width: 60px;
  height: 60px;
}
.user-component__avatar--sm {
  width: 40px;
  width: 40px;
  border-radius: 25px;
}
.user-component__title--not-bold {
  font-weight: 400;
}
.friends-screen {
  padding: 0px var(--horizontal-space);
}
.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.user-component__time {
  margin-bottom: 10px;
  display: block;
}
